[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow-directml = "==1.15.3.dev200911"
numpy = "==1.18.5"
ipykernel = "*"
pandas = "*"
scikit-learn = "*"
scikit-image = "*"
clean-text = "*"

[requires]
python_version = "3.6"
